*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	width: 100%;
	position: sticky;
	top: 0px;
/*	border: 2px solid;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
	z-index: 1;

}

.menu{
	width: 60%;
	height: 50px;
	/*border: 2px solid;*/
}

.menu ul{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.menu ul li{

}

.menu ul li a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

/*header css end*/

.heroimg{
	width: 100%;
	height: 100vh;
	background-image: url(https://webthemez.com/demo/courage-bootstrap-4-corporate-business-template/img/intro-carousel/banner-bg2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.heroimg img{
	width: 550px;
	height: 550px;
	position: absolute;
	top: 45%;
	left: 65%;
	transform: translate(-35%,-55%);
}

.herocontent{
	width: 40%;
	height: 30%;
	/*border: 2px solid;*/
	position: absolute;
	top: 40%;
	left: 35%;
	transform: translate(-65%,-60%);
}

.herocontent h2{
	color: #5b5b5b;
	margin-bottom: 30px;
	font-size: 29px;
	text-align: left;
}

.herocontent h2 span{
	color: #2e2e2e;
	text-align: right;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
}

.herocontent button {
	background: #fff;
	border: 2px solid #FF5722;
	border-radius: 30px;
	color: #FF5722;
	padding: 15px 20px;
	font-weight: 800;
}

/*hero img css end*/

.welcome{
	width: 100%;
	height: 100vh;
	padding: 80px 0px;
}

.welcomecontent{
	width: 80%;
	height: 25%;
	margin: auto;
/*	border: 2px solid;*/
	text-align: center;
}

.line{
	width: 100px;
	height: 3px;
	margin: auto;
	background: orange;
}

.imgcon{
	width: 90%;
	height: 80%;
	margin: auto;
/*	border: 2px solid;*/
	display: flex;
}
.photo{
	width: 50%;
	height: 100%;
}
.photo img{
	width: 100%;
	height: 100%;
}

.con{
	width: 50%;
	height: 100%;
	text-align: justify;
	/*border: 2px solid;*/
	padding: 15px 40px 25px 0px;
	line-height: 40px;
}

.con h2{
	color: #795548;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.con ul{
	list-style: none;
}

.rong{
	color: orange;
}